<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h4 class="text-center mt-4">ĐĂNG KÝ</h4>
        <form (ngSubmit)="onSubmit()" [formGroup]="userForm" class="mt-4">
          <div class="mb-3">
            <label for="fullName" class="form-label">Tên người dùng</label>
            <input type="text" class="form-control" id="fullName" formControlName="fullName" required autocomplete="username">
            <small *ngIf="!userForm.get('fullName')?.hasError('forbiddenWords') && userForm.get('fullName')?.touched" class="text-muted">
              Tên đăng ký không được chứa từ "ma túy" và "hàng trắng"
            </small>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Mật khẩu</label>
            <input type="password" class="form-control" id="password" formControlName="password" required autocomplete="new-password">
            <small *ngIf="!userForm.get('password')?.valid && userForm.get('password')?.touched" class="text-muted">
              Mật khẩu là bắt buộc và ít nhất 8 ký tự
            </small>
          </div>
          <div class="mb-3">
            <label for="respass" class="form-label">Nhập lại mật khẩu</label>
            <input type="password" class="form-control" id="respass" formControlName="respass" required autocomplete="new-password">
            <small *ngIf="!userForm.hasError('mismatch') && userForm.get('respass')?.touched" class="text-muted">
              Nhập lại mật khẩu là bắt buộc và ít nhất 8 ký tự
            </small>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email" required autocomplete="email">
            <small *ngIf="!userForm.get('email')?.hasError('email') && userForm.get('email')?.touched" class="text-muted">
              Email là bắt buộc và phải hợp lệ
            </small>
          </div>
          <div class="mb-3">
            <label for="img" class="form-label">Hình ảnh</label>
            <input type="file" class="form-control" id="img" (change)="onFileSelected($event)" required>
          </div>
          <button type="submit" class="btn btn-primary">Đăng ký</button>
          <p>Bạn đã có tài khoản? <a [routerLink]="['/login']" routerLinkActive="router-link-active">Đăng nhập</a></p>
        </form>
      </div>
    </div>
  </div>
  