<div class="container mt-5">
  <h2 class="text-center mb-4">Đăng Nhập</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" formControlName="email" [(ngModel)]="user.email" 
      placeholder="Nhập email" aria-describedby="idHelpId">
      <!-- <small *ngIf="!loginForm.get('email')?.valid && loginForm.get('email').touched" id="idHelpId">email không được để trống</small> -->

    </div>
    <div class="form-group">
      <label for="password">Mật khẩu:</label>
      <input type="password" class="form-control" id="password" formControlName="password" [(ngModel)]="user.password" placeholder="Nhập mật khẩu" aria-describedby="idHelpId">
      <!-- <small *ngIf="!loginForm.get('password')?.valid && loginForm.get('password').touched id="idHelpId">Mật khẩu không được để trống và hơn 8 ký tự</small> -->
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Đăng Nhập</button>
    </div>
    <p style="margin-left: 70px; margin-top: 20px;">Bạn chưa có tài khoản? <a [routerLink]="['/register']" routerLinkActive="router-link-active">Đăng ký</a></p>
  </form>
</div>